<div class="overlay-container">
  <div class="row overlay small-centered small-12 columns">
    <%counter = 0%>
    <%@star.attributes.each do |attribute,value|%>
      <%next if attribute == "id"%>
      <div class="row">
        <div class="small-4 columns">
          <%unless value.nil? || value == 0.0%>
            <%=attribute.titleize + ": #{value}" + @star_units[counter]%>
          <%else%>
            <%=attribute.titleize + ": Unknown"%>
          <%end%>
        </div>
        <div class="small-8 columns description">TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO </div>
      </div>
      <%counter += 1%>
    <%end%>
  </div>
  <h1>
    Planets That Orbit This Star
  </h1>
  <ul class="row overlay-container accordion" data-accordion role="tablist" data-multi-expand="true" data-allow-all-closed="true">
    <% @planets.each do |planet| %>
      <li class="accordion-navigation text-left">
        <a href=<%="#panel#{planet.id}"%> role="tab" class="accordion-title text-left" id=<%="panel#{planet.id}-heading"%> aria-controls=<%="panel#{planet.id}"%>><h4><%= planet.planet_name %></h4></a>
        <div id=<%="panel#{planet.id}"%> class="accordion-content" role="tabpanel" data-tab-content aria-labelledby=<%="panel#{planet.id}"%>>
          <h5 class="transit text-center"><%= planet.transits? %></h5>
          <div class="row all-attributes text-left">
            <div class="small-4 columns">
              <ul>
              <%planet.attributes.each do |attribute,value|%>
                  <%next if attribute == "id" || attribute == "star_id" || attribute == "planet_name" || attribute == "transits"%>
                  <li class="attribute">
                  <%unless value.nil? || value == 0.0%>
                    <%=attribute.titleize + ": #{value}"%>
                  <%else%>
                    <%=attribute.titleize + ": Unknown"%>
                  <%end%>
                  </li>
              <%end%>
              </ul>
            </div>
            <div class="small-8 columns description animated zoomIn">
              TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO TEXTWOO
            </div>
            <div class="small-8 columns description transit-desc animated slideInDown">
              Transit info yaaaaaaaayyyyy!!!!!!!
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
