<img src="/assets/blue-star.jpg" class="float-center background-image"/>
<div class="row star-header">
  <div class="text-center small-12 columns">
    <h2>
      <%=@star.star_name%>
    </h2>
  </div>
</div>
<div class="overlay-container">
  <div class="row">
    <div class="overlay small-centered small-12 columns">
      <%counter = 0%>
      <div class="row all-attributes text-left">
        <div class="large-5 columns animated fadeInLeft">
        <%@star.attributes.each do |attribute,value|%>
          <%next if attribute == "id" || attribute == "star_name"%>
            <div class="row">
              <li class="<%= 'star-attribute ' + attribute.titleize.delete(' ').downcase + ' medium-12 columns end' %>" >
              <%if !value.nil? && value != 0.0%>
                <strong><%=attribute.titleize%></strong><div class="text-right"><%= "#{value} " + @star_units[counter]%></div>
              <%elsif attribute == "distance"%>
                <strong>Distance From Earth</strong><div class="text-right"><%= "#{value} " + @star_units[counter]%></div>
              <%else%>
                <strong><%=attribute.titleize%></strong><div class="text-right">Unknown</div>
              <%end%>
              </li>
            </div>
          <%counter += 1%>
        <%end%>
        </div>
        <div class="large-5 columns">
          <% Star::ATTRIBUTE_INFO.each do |key,value| %>
            <div class="row text-center">
              <div class="<%= key.to_s.titleize.downcase.gsub(/ /, '') + ' description description-title small-12 columns animated zoomIn' %>">
                <h4><%=key.to_s.titleize%></h4>
              </div>
            </div>
            <div class="row">
              <div class="<%= key.to_s.titleize.downcase.gsub(/ /, '') + ' description small-12 columns animated zoomIn' %>">
                <%= value %>
              </div>
            </div>
          <%end%>
        </div>
      </div>
      </br>
      </br>
      </br>
      <div class="row planet-header">
        <div class="text-center small-12 columns">
          <h2>
            Orbiting Planets
          </h2>
        </div>
      </div>
      <ul class="row overlay-container small-centered accordion" data-accordion role="tablist" data-multi-expand="true" data-allow-all-closed="true">
        <% @planets.each do |planet| %>
          <li class="accordion-navigation text-left">
            <a href=<%="#panel#{planet.id}"%> role="tab" class="accordion-title text-left" id=<%="panel#{planet.id}-heading"%> aria-controls=<%="panel#{planet.id}"%>><h4><strong><%= planet.planet_name %></strong></h4></a>
            <div id=<%="panel#{planet.id}"%> class="accordion-content" role="tabpanel" data-tab-content aria-labelledby=<%="panel#{planet.id}"%>>
              <h5 class="transit text-center animated fadeInDown"><strong><%= planet.transits? %></strong></h5>
              <div class="row all-attributes text-left">
                <div class="large-5 columns animated fadeInLeft">
                  <ul>
                  <%counter = 0%>
                  <%planet.attributes.each do |attribute,value|%>
                    <div class="row">
                      <%next if attribute == "id" || attribute == "star_id" || attribute == "planet_name" || attribute == "transits"%>
                      <li class="<%= 'attribute planet' + attribute.titleize.delete(' ').downcase + ' planet medium-12 columns end' %>" >
                      <%unless value.nil? || value == 0.0%>
                        <strong><%=attribute.titleize%></strong><div class="text-right"><%= "#{value} " + @planet_units[counter]%></div>
                      <%else%>
                        <strong><%=attribute.titleize%></strong><div class="text-right">Unknown</div>
                      <%end%>
                      </li>
                      <%counter += 1%>
                    </div>
                  <%end%>
                  </ul>
                </div>
                <div class="large-offset-2 large-5 columns">
                  <% Planet::ATTRIBUTE_INFO.each do |key,value| %>
                    <div class="row text-center">
                      <div class="<%= key.to_s.titleize.downcase.gsub(/ /, '') + ' description description-title small-12 columns animated zoomIn' %>">
                        <h4><%=key.to_s.titleize[7..-1]%></h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="<%= key.to_s.titleize.downcase.gsub(/ /, '') + ' description small-12 columns animated zoomIn' %>">
                        <%= value %>
                      </div>
                    </div>
                  <%end%>
                </div>
                <div class="large-5 columns description transit-desc animated slideInDown">
                  A planet is said to transit it's parent star when its orbital plane intersects the plane of the observer.  Simply put, this means that the passes in front of the star from the observer's point of view.
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
