<div class="row text-center">
  <h1 class="title"><%= @user.username + "'s"%></h1>
  <h3 class="title">Star Collection</h3>
  <div class="row">
    <%@user.stars.each do |star|%>
      <div class="large-2 columns end">
        <a href="<%= '/stars/' + star.id.to_s %>">
          <div class="service">
            <div class="service-icon-box">
              <img src="/assets/star_thumb.png" alt="" class="service-icon">
            </div>
            <h4 class="service-heading"><%= star.star_name %></h4>
            <%@star_history = @user.histories.where("star_id = ?", star.id).first%>
            <div class="service-description">
              <ul>
                <li>Observed</li>
                <li><%= @star_history.created_at.time %></li>
                <li><%= @star_history.observation_location %></li>
              </ul>
            </div>
          </div>
        </a>
      </div>
    <%end%>
  </div>
</div>
